body {
    margin: 0px;
    padding: 0px;
}

main {
    padding:16px;
    background-color: grey;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 0px;
    padding-left: 0px;
}

nav {
    border-color: black;
    border: 1px;
    padding: 1px;
}

.div {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

a {
    text-decoration: none;
    color:red;
}

a:hover{
    color:gold ;
}

nav{
    background-color: orange;
}

footer {
    padding: 12px;
    background-color: paleturquoise;
}

img {
    box-shadow: 3px 3px 3px 3px burlywood;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

tr:nth-child(odd) {
    background-color: papayawhip;
}

li {
    color: black;
}
/* * {
    border: 1px solid red;
}/*
